<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>添加视频分类</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="__APLUGINS__/layui/css/layui.css"
	media="all" />
<link rel="stylesheet" href="__ACSS__/global.css" media="all">
<link rel="stylesheet" type="text/css"
	href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">

</head>
<body>
	<div style="margin: 15px;">
		<fieldset class="layui-elem-field layui-field-title"
			style="margin-top: 20px;">
			<legend>添加视频分类</legend>
		</fieldset>

		<form class="layui-form" action="" method='post'>
			<div class="layui-form-item">
				<label class="layui-form-label">分类名称</label>
				<div class="layui-input-block">
					<input type="text" name="info[name]" lay-verify="required" autocomplete="off" placeholder="请输入标题" class="layui-input" value="<{$info_data['name']}>">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">图片上传(<{:C("IMAGES_RATIO")}>)</label>
				<div class="site-demo-upload-mo" style="margin-left: 190px;">
					<div class="image_border">
					<if condition="$info_data['medium']">
					<img id='lay-demo-upload-mo' src="/<{$info_data['medium']}>" style="display:inline-block;">
					<else/>
					<img id='lay-demo-upload-mo' src="">
					</if>
					</div>
					
					<input type="file" name="file" lay-ext="<{:C('IMAGES_ALLOWEXT')}>" lay-type="file" lay-title="请上传一张图片吧亲" class="layui-upload-file">
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">作者信息</label>
					<div class="layui-input-inline">
						<input type="text" name="info[author_name]" autocomplete="off" class="layui-input" value="<{$info_data['author_name']}>">
					</div>
				</div>
				<div class="layui-inline">
					<div class="layui-input-block">
						<span class="layui-btn" id="select_author">选择导师</span>
					</div>
				</div>
			</div>
			
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">描述信息</label>
				<div class="layui-input-block">
					<textarea placeholder="描述信息" id="description" name="info[description]" class="layui-textarea"><{$info_data['description']}></textarea>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">评分</label>
					<div class="layui-input-inline">
						<input type="text" name="info[start]" autocomplete="off" class="layui-input" value="<{$info_data['start']}>">
					</div>
				</div>

			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">是否为专辑</label>
				<div class="layui-input-block">
					<if condition="!$info_data['is_special']">
						<input type="checkbox" name="info[is_special]" lay-skin="switch" value='1' lay-filter="switchTest" title="开关">
					<else />
						<input type="checkbox" checked="" name="info[is_special]" lay-skin="switch" value='1' lay-filter="switchTest" title="开关">
					</if>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">禁止|启用</label>
				<div class="layui-input-block">
					<if condition="!$info_data['is_use']">
					<input type="checkbox" name="info[is_use]" lay-skin="switch" value='1' lay-filter="switchTest"  title="禁止|启用">
					<else />
					<input type="checkbox" checked="" name="info[is_use]" lay-skin="switch" value='1' lay-filter="switchTest"  title="禁止|启用">
					</if>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">排序</label>
					<div class="layui-input-inline">
						<input type="text" name="info[sort]" autocomplete="off" class="layui-input" value="<{$info_data['sort']}>">
					</div>
				</div>

			</div>

			<div class="layui-form-item">
				<div class="layui-input-block">
					<input type='hidden' name='info[image_id]' id="image_id" lay-verify="image_id" value='<{$info_data["image_id"]}>' /> <input
						type='hidden' name='info[id]' value="<{$info_data['vid']}>" />
					<button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
	<script type="text/javascript" src="__APLUGINS__/layui/layui.js"></script>

	<script>
		layui.config({
			base : '__APLUGINS__/layui/modules/'
		});
		layui
				.use(
						[ 'icheck', 'laypage', 'layer', 'form', 'upload',
								'laydate' ],
						function() {
							var $ = layui.jquery;
							var form = layui.form(), layer = layui.layer, laydate = layui.laydate;
							//自定义验证规则
							form.verify({
								image_id : function(value) {
									var pattren = /\d+/;
									if (!pattren.test(value)) {
										return "必须上传图片";
									}
								}
							});
							if ("<{$message}>") {
								layer.msg("<{$message}>");
							}
							form.on('submit(demo1)', function(data) {
								return true;
							});
							$("#select_author").on('click', function() {

							});
							layui.upload({
								url : '/admin/attachment/uploadBanner?type=1',
								success : function(res) {
									if (res.status) {
										$('#lay-demo-upload-mo').attr("src",
												"/" + res.path);
										$('#lay-demo-upload-mo').show();
										$("#image_id").val(res.image_id);
									} else {
										layer.msg(res.message);
									}
								}
							});

						});
	</script>
</body>

</html>