<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Table</title>
<link rel="stylesheet" href="__APLUGINS__/layui/css/layui.css"
	media="all" />
<link rel="stylesheet" href="__ACSS__/global.css" media="all">
<link rel="stylesheet" type="text/css"
	href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
<link rel="stylesheet" href="__ACSS__/table.css" />
</head>
<body>
	<div class="admin-main">
		<blockquote class="layui-elem-quote">
			<a href="javascript:;"
				class="layui-btn layui-btn-small" id="add"> <i
				class="layui-icon">&#xe608;</i> 添加导航
			</a>
		</blockquote>
		<fieldset class="layui-elem-field">
			<legend>数据列表</legend>
			<div class="layui-field-box">
				<table class="site-table table-hover">
					<thead>
						<tr>
							<th>名称</th>
							<th>连接</th>
							<th>创建时间</th>
							<th>状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<foreach name='data["list"]' item='id'>
						<tr>
							<td><{$id.name}></td>
							<td><{$id.link}></td>

							<td><{$id.add_time|date="Y-m-d H:i:s",###}></td>

							<td><if condition="$id['is_use']"> <i
									class="layui-icon" style="color: green;"></i> <else /> <i
									class="layui-icon" style="color: red;">ဇ</i> </if></td>

							<td><a href="<{$id.link}>" target="_blank"
								class="layui-btn layui-btn-normal layui-btn-mini">预览</a> <a
								href="/admin/system/addfriendlink?id=<{$id.id}>" class="layui-btn layui-btn-mini">编辑</a>
								<a href="/admin/system/delfriendlink?id=<{$id.id}>" data-id="1" data-opt="del"
								class="layui-btn layui-btn-danger layui-btn-mini">删除</a></td>
						</tr>
						</foreach>
					</tbody>
				</table>

			</div>
		</fieldset>
		<div class="admin-table-page">
			<div id="page" class="page"></div>
		</div>
	</div>
	<script type="text/javascript" src="__APLUGINS__/layui/layui.js"></script>
	<script>
			layui.config({
				base: '__APLUGINS__/layui/modules/'
			});

			layui.use(['icheck', 'laypage','layer'], function() {
				var $ = layui.jquery,
					laypage = layui.laypage,
					layer = parent.layer === undefined ? layui.layer : parent.layer;
				$('#add').on('click', function() {
					$.get('/admin/system/addmenu', null, function(form) {
						layer.open({
							type: 1,
							title: '添加导航',
							content:form,
							btn: ['保存', '取消'],
							area: ['400px', '200px'],
							maxmin: true,
							yes:function(index) {
								
							},
							full: function(elem) {
								var win = window.top === window.self ? window : parent.window;
								$(win).on('resize', function() {
									var $this = $(this);
									elem.width($this.width()).height($this.height()).css({
										top: 0,
										left: 0
									});
									elem.children('div.layui-layer-content').height($this.height() - 95);
								});
							}
						});
					});
				});

				//page
				laypage({
					cont: 'page',
					pages: "<{$data.total}>" ,//总页数
					groups: 5, //连续显示分页数
					curr:"<{$page}>",
					jump: function(obj, first) {
						//得到了当前页，用于向服务端请求对应数据
						var curr = obj.curr;
						if(!first) {
							window.location.href="/admin/system/friendlink?page="+curr;
						}
					}
				});

			});
			
		</script>
</body>

</html>